In [1]:
# --- Basic Imports ---
from utils import *

# Reading Data

## Normalizing columns and information

In [2]:
df = pd.read_csv(os.path.join(BRONZE_PATH, 'bank-additional-full.csv'), sep=';')
df.columns = [normalizeString(colname) for colname in df.columns]
df = convert_target(df, target_col='y')

In [4]:
cat_cols = df.select_dtypes(include=["object", "category"]).columns
max_values = 20

print(f"Found {len(cat_cols)} categorical columns.\n")

for col in cat_cols:
    uniques = df[col].unique()
    n_unique = len(uniques)
    
    print(f"--- {col} ---")
    print(f"Unique values ({n_unique}):")
    
    if n_unique <= max_values:
        pprint(sorted(uniques))
    else:
        # show only first X unique values
        pprint(sorted(uniques[:max_values]))
        print(f"... and {n_unique - max_values} more")
    
    print("\n")

Found 10 categorical columns.

--- job ---
Unique values (12):
['admin.',
 'blue-collar',
 'entrepreneur',
 'housemaid',
 'management',
 'retired',
 'self-employed',
 'services',
 'student',
 'technician',
 'unemployed',
 'unknown']


--- marital ---
Unique values (4):
['divorced', 'married', 'single', 'unknown']


--- education ---
Unique values (8):
['basic.4y',
 'basic.6y',
 'basic.9y',
 'high.school',
 'illiterate',
 'professional.course',
 'university.degree',
 'unknown']


--- default ---
Unique values (3):
['no', 'unknown', 'yes']


--- housing ---
Unique values (3):
['no', 'unknown', 'yes']


--- loan ---
Unique values (3):
['no', 'unknown', 'yes']


--- contact ---
Unique values (2):
['cellular', 'telephone']


--- month ---
Unique values (10):
['apr', 'aug', 'dec', 'jul', 'jun', 'mar', 'may', 'nov', 'oct', 'sep']


--- day_of_week ---
Unique values (5):
['fri', 'mon', 'thu', 'tue', 'wed']


--- poutcome ---
Unique values (3):
['failure', 'nonexistent', 'success']